@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  text-align: center;
  background-color: grey;
  font-size: 50px;
  text-align: right;
  display: block;
  color: white;
}

body {
  background-image: url("https://img.freepik.com/free-vector/soft-pink-beautiful-smooth-wide-banner_1017-23601.jpg?semt=ais_hybrid&w=740");
  background-repeat: no-repeat;
  background-size: cover;
}

.Logo {
  float: left;
}

nav {
  a:link {
    color: white;
    text-decoration: none;
  }
  a:hover {
    background-color: black;
  }
  border: solid;
  border-color: black;
}
.hero-img {
  float: left;
}
.maintitle {
  font-size: 50px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.Btn {
  background-color: red;
  width: 100px;
  border-radius: 20px;
}
.abt {
  text-align: center;
  border: solid;
  border-radius: 5%;
}
th,
td {
  border-bottom: 3px solid #050505;
}
tr:hover {
  background-color: coral;
}
th {
  background-color: tomato;
}
.cont {
  text-align: center;
  border: #050505 solid;
  margin: 50;
  background-color: rgb(255, 234, 234);
  opacity: 80%;
  border-width: 50;
  border-radius: 50px;
}
