@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  max-width: 1024px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  text-align: center;

  font-size: 18px;
  text-align: right;
  display: block;
  color: white;
}

.logo {
  img {
    height: 70px;
  }
  color: #c0392b;
  font-size: 20px;
}

header {
  padding: 40px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid#e8e7e6;
}

nav {
  a {
    font-weight: 500;
  }
  a:link {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    padding: 170px 0 0 0;
  }
  a:hover {
    color: #c0392b;
  }
  a.active {
    color: #c0392b;
  }
  a:visited {
    color: black;
  }
}

.her {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  font-weight: 300;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  line-height: 1.6;
  img {
    margin-bottom: 40%;
  }
}

.hd {
  height: 550px;
  button {
    background-color: #c0392b;
    margin-bottom: 40%;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 14px 46px;
    cursor: pointer;
    margin-top: 30px;
  }
}

.maintitle {
  font-size: 30px;
  color: black;
}

.namel {
  color: #c0392b;
}

.abt {
  text-align: center;
  border: solid;
  border-radius: 5%;
}
th,
td {
  border-bottom: 3px solid #050505;
}
tr:hover {
  background-color: #c0392b;
}
th {
  background-color: #c0392b;
}

.say {
  font-size: 40px;
  p {
    font-size: 20px;
  }
  position: relative;
  top: 200px;
  margin-left: 250px;
} /*sensitive part*/

.cont {
  padding-left: 80%;
  padding-bottom: 15%;
}
/*sensitive doutable*/

.tex {
  input,
  textarea {
    border-radius: 4px;
  }
}
.tex {
  input:hover {
    border: #c0392b solid;
    border-color: #c0392b;
  }

  textarea {
    position: relative;
    z-index: 9999;
  }

  textarea:hover {
    /*bug some shit*/
    border: #c0392b solid;
    border-color: #c0392b;
  }
}

.fuser,
.luser,
.mail {
  width: 250px;
  height: 40px;
  border: #f3eae8 solid;
  border-width: 1px;
  z-index: 9999;
  position: relative;
}

textarea::placeholder {
  padding-top: 3%;
}

.tet {
  border: #f3eae8 solid;
  border-width: 1px;
}

.sub {
  input {
    text-align: center;
    background-color: #c0392b;
    border-radius: 30px;
    font-size: 150%;
    justify-content: center;
    max-width: 500px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
  }
  input:active {
    transition: 0.1s;
    box-shadow: 0px 10px #888888; /*vertical horizontal color*/
    font-size: 100%;
  }
}
footer {
  p {
    text-align: right;
  }
}

.futlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 0%;
  padding-left: 95%;
}

.yt,
h4 {
  display: flex;
  align-items: flex-start;
  text-align: center;
  position: relative;
  z-index: 9999;
}
